mulerepo/src/main/mule/mulerepo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="93dadc0c-13ae-48c0-873b-018876e5f21c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulerepoFlow" doc:id="242500ba-b90f-46fd-955d-4d9abfc12e30" >
		<http:listener doc:name="Listener" doc:id="d496eeab-d8e5-475d-a690-7e939ba88efb" config-ref="HTTP_Listener_config" path="/mule"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e0ce30ba-a122-426b-a254-fa211c795052" />
	</flow>
</mule>
